<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'statistics')}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br style="margin: 10px">
    <p class="h4">Statistics for best selling products</p>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product name</th>
            <th scope="col">Products sold</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iterator : ${bestSelling} ">
            <th scope="row" th:text="(${iterator.index} + 1)"></th>
            <td th:text="${product.get(0)}"></td>
            <td th:text="${product.get(1)}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>