<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'statistics')}">

<body>
<style>
    .stats-square {
        background-color: #17a2b8;
        color: white;
        font-weight: bold;
        padding-top: 50%;
        padding-bottom: 50%;
        width: 100%;
        margin-top: 30px;
        border-radius: 25px;
    }
    .stats-square:hover{
        background-color:#1c7280;
    }

    .stats-link:hover{
        text-decoration: none;
    }
</style>
<section class="middle-align">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <a href="/admin/statistics/products" class="stats-link">
                <div class="stats-square">
                    Best Selling Products
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/admin/statistics/categories" class="stats-link">
                <div class="stats-square">
                    Best Categories
                </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/admin/statistics/customers" class="stats-link">
                <div class="stats-square">
                    Best Customers
                </div>
                </a>
            </div>
        </div>
    </div>
</section>
</body>
</html>