<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">

<head>
    <meta charset="UTF-8">
    <title>Detailed Order</title>
</head>


<body>
<section class="middle-align">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">
                <h3>Detailed Order</h3>
                <br><br>
                <form th:object="${order}" method="post">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Order timestamp</th>
                            <th scope="col">Process timestamp</th>
                            <th scope="col">Delivery timestamp</th>
                            <th scope="col">Address</th>
                            <th scope="col">Recipient name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="*{T(dk.kea.stud.fourplayers.restaurantstore.Helper).fmtTime(orderTimestamp)}"></td>
                            <td th:text="*{processedTimestamp == null ? 'N/A' : T(dk.kea.stud.fourplayers.restaurantstore.Helper).fmtTime(processedTimestamp)}"></td>
                            <td th:text="*{deliveryTimestamp == null ? 'N/A' : T(dk.kea.stud.fourplayers.restaurantstore.Helper).fmtTime(deliveryTimestamp)}"></td>
                            <td th:text="*{deliveryAddress}"></td>
                            <td th:text="*{recipientName}"></td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iterator : *{itemList}">
                            <th scope="row" th:text="${iterator.index + 1}"></th>
                            <td th:text="${item.productName}"></td>
                            <td th:text="${item.categoryName}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${item.getPrice()} + ' DKK'"></td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">Discount</th>
                            <td th:text="${order.getDiscount() + ' DKK'}"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th scope="row">Total</th>
                            <td th:text="${order.getTotal() + ' DKK'}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row customMargin">
                        <div class="col-2 form-control">Order status:</div>
                        <div class="col-3">
                            <select id="status"
                                    class="form-control" name="status" th:field="*{status}">
                                <option th:each="statusValue :
                            ${T(dk.kea.stud.fourplayers.restaurantstore.order.Order.Status).values()}"
                                        th:value="${statusValue}" th:text="${statusValue}"
                                        th:selected="*{status}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" name="discountType">
                                <option value="0" selected>Discount value</option>
                                <option value="1">Discount percentage</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <input class="form-control" type="number" step="0.01"
                                   name="discountAmount" placeholder="Input amount">
                        </div>
                    </div>
                    <div class="row customMargin">
                        <button class="btn btn-info form-control" type="submit">Update order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>