<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">

<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>


<body>
<section class="middle-align">
    <div class="container">
        <div class="row">
            <div class="col-10 offset-md-1">

                <h3>Pending Orders</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Delivery timestamp</th>
                        <th scope="col">Recipient name</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${pendingOrders}">
                        <th scope="row" th:text="${order.getId()}"></th>
                        <td th:with="text=(${order.getDeliveryTimestamp()} == null ? 'N/A' :
                         ${T(dk.kea.stud.fourplayers.restaurantstore.Helper)
                            .fmtTime(order.getDeliveryTimestamp())})" th:text="${text}"></td>
                        <td th:text="${order.getRecipientName()}"></td>
                        <td><a th:text="${order.getStatus()}" class="btn btn-info"
                               th:href="'/admin/order/view/' + ${order.getId()}"> </a></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Accepted/Declined Orders</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Delivery timestamp</th>
                        <th scope="col">Recipient name</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${notPendingOrders}">
                        <th scope="row" th:text="${order.getId()}"></th>
                        <td th:with="text=(${order.getDeliveryTimestamp()} == null ? 'N/A' :
                         ${T(dk.kea.stud.fourplayers.restaurantstore.Helper)
                            .fmtTime(order.getDeliveryTimestamp())})" th:text="${text}"></td>
                        <td th:text="${order.getRecipientName()}"></td>
                        <td><a th:text="${order.getStatus()}" class="btn btn-info"
                               th:href="'/admin/order/view/' + ${order.getId()}"> </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>