<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<section class="middle-align">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3><span th:text="${formData.getProduct().isNew()} ? 'Add' : 'Update'"></span> Product</h3>
                <hr>
                <form th:object="${formData}" method="post">
                    <div class="form-group">
                        <input th:replace="~{fragments/inputField ::
                         input ('Name:', 'product.name', 'text')}"/>
                    </div>
                    <div class="form-group">
                        <input th:replace="~{fragments/inputField ::
                         input ('Description:', 'product.description', 'text')}"/>
                    </div>
                    <div class="form-group">
                        <input th:replace="~{fragments/selectField ::
                         select ('Categories:', 'product.category', ${allCategories})}"/>
                    </div>
                    <div class="row" th:unless="*{product.getPrices().isEmpty()}">
                        <div class="col-5">Quantity:</div>
                        <div class="col-5">Price:</div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <th:block th:each="price, iterator : *{product.prices}">
                            <div class="col-5">
                                <input th:field="*{product.prices[__${iterator.index}__].quantity}"
                                       th:id="${iterator.index}" class="form-control"
                                       style="margin: 0.2em"
                                       th:readonly="(*{product.prices[__${iterator.index}__].quantity} == 1)"/>
                            </div>
                            <div class="col-5">
                                <input th:field="*{product.prices[__${iterator.index}__].price}"
                                       th:id="${iterator.index}" class="form-control"
                                       style="margin: 0.2em"/>
                            </div>
                            <div class="col-2">
                                <th:block th:unless="${price.quantity} == 1">
                                <a class="btn btn-danger" th:href="'/admin/product/delete/' + *{product.id} +
                             '/price/' + ${price.id}" style="margin: 0.2em"><i class="fas fa-times"></i></a>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="quantity">New Quantity:</label>
                                <input id="quantity" class="form-control"
                                       th:field="*{newPrice.quantity}"
                                       th:readonly="*{product.isNew()}"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="price">New Price:</label>
                                <input id="price" class="form-control"
                                       th:field="*{newPrice.price}"/>
                            </div>
                        </div>
                    </div>
                    <div th:text="${#fields.hasErrors()}"></div>
                    <div th:if="${#fields.hasErrors()}" class="row">
                        <th:block th:each="error : ${#fields.detailedErrors()}">
                        <div class="alert" th:text="${error.getMessage()}"></div>
                        </th:block>
                    </div>
                    <div class="form-group" th:each="image, iterator : *{product.images}">
                        <row>
                            <div class="col-10">
                            <input class="form-control" style="margin: 0.2em"
                                   th:field="*{product.images[__${iterator.index}__].url}"
                                   th:id="${iterator.index}"/>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" style="margin: 0.2em"
                               th:href="'/admin/product/delete/' + *{product.id} +
                         '/image/' + ${image.id}"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label">Add New Image:</div>
                        <input class="form-control" th:field="*{newImage.url}"/>
                    </div>

                    <button class="btn btn-info form-control" type="submit"
                            th:text="(*{product.isNew()} ? 'Add' : 'Update') + ' product'"></button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>