<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="product" type="dk.kea.stud.fourplayers.restaurantstore.controllers.ProductController"*/-->
    <form th:object="${product}" class="form-horizontal" method="post">
        <div class="form-group has-feedback">
            <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>

            <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>

            <!--/*@thymesVar id="allCategories" type="dk.kea.stud.fourplayers.restaurantstore.controllers.ProductController"*/-->
            <input th:replace="~{fragments/selectField :: select ('Categories', 'category', ${allCategories})}"/>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="hidden" name="id" th:value="*{id}"/>
                <button th:with="text=${product.isNew()} ? 'Add product' : 'Update product'"
                        class="btn btn-default" type="submit" th:text="${text}"></button>
            </div>
        </div>
    </form>

</body>
</html>