<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${product}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}"/>

        <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>

        <input th:replace="~{fragments/selectField :: select ('Categories', 'category', ${allCategories})}"/>

        <div class="form-group" th:each="price, iterator : *{prices}">
            <input th:field="*{prices[__${iterator.index}__].quantity}" th:id="${iterator.index}"/>
            <input th:field="*{prices[__${iterator.index}__].price}" th:id="${iterator.index}"/>
            <a th:href="'/deletePrice/' + ${product.id} + '/' + ${price.id}">Delete</a>
        </div>
        <div class="form-group">
            <input th:field="${newPrice.quantity}"/>
            <input th:field="${newPrice.price}"/>
        </div>
        <br>
        <div class="form-group" th:each="image, iterator : *{images}">
            <input th:field="*{images[__${iterator.index}__].url}" th:id="${iterator.index}"/>
            <a th:href="'/deleteImage/' + ${product.id} + '/' + ${image.id}">Delete</a>
        </div>
        <div class="form-group">
            <input th:field="${newImage.url}"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button th:with="text=${product.isNew()} ? 'Add product' : 'Update product'"
                    class="btn btn-default" type="submit" th:text="${text}"></button>
        </div>
    </div>
</form>

</body>
</html>