<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">


<body>
<section class="middle-align">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 th:text="${product.getName()}"></h3>
                <div style="margin: 0.5em" th:text="'Description: ' + ${product.getDescription()}"></div>
                <div style="margin: 0.5em" th:text="'Category: ' + ${product.getCategory().getName()}"></div>
                <div>
                    <div class="row" th:unless="${product.getPrices().isEmpty()}">
                        <div class="col-6">Quantity:</div>
                        <div class="col-6">Price:</div>
                    </div>
                    <div class="row">
                        <th:block th:each="price : ${product.getPrices()}">
                            <div class="col-6" th:text="${price.getQuantity()}">
                            </div>
                            <div class="col-6" th:text="${price.getPrice()}">
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row" th:if="${product.images.isEmpty()}">
                    <img class="card-img" src="../images/defaultImage.jpg">
                </div>
                <div th:unless="${product.images.isEmpty()}"
                     id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="image, iterator: ${product.getImages()}"
                             th:class="${iterator.index} == 0 ? 'carousel-item active' : 'carousel-item'">
                            <img class="helper" th:src="${image.url}"
                                 th:alt="'Image id: ' + ${image.id} + ' not working.'">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <br>
                <form action="/addToBasket" method="post">
                    <div class="row form-group">
                        <div class="col-6">
                            <input type="hidden" name="productId" th:value="${product.id}">
                            <input class="form-control" type="number" name="quantity" placeholder="Quantity">
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-info form-control">Add to cart</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
