<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View products</title>
</head>
<body>
<form action="#" th:action="@{search}" method="get" class="input-group">
    <input class="form-control form-control-dark" type="text" placeholder="Search" name="search" aria-label="Search">
    <div class="input-group-append">
        <button class="btn btn-outline-light" value="Search">Search</button>
    </div>
</form>
    <ul>
        <li><a href="/list">All categories</a></li>
        <li th:each="category : ${allCategories}">
            <a th:href="'/list?cat=' + ${category.getId()}"
               th:text="${category}"></a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Category</th>
            <th></th>
        </tr>
        <tr th:each="product: ${products}">
            <td>
                <a th:href="'/product/' + ${product.getId()}"
                   th:text="${product.getName()}"></a>
            </td>
            <td th:text="${product.getDescription()}"></td>
<!--            TODO detailed view of product prices-->
            <td th:text="${product.getPrices().isEmpty()} ? 'Nada' : 'Something'"></td>

            <td th:text="${product.getCategory()}"></td>
            <td><a th:href="'/delete/' + ${product.getId()}">Delete</a></td>
            <td><a th:href="'/editProduct/' + ${product.getId()}">Edit</a></td>
        </tr>
    </table>
    <a href="/addProduct">Add new product</a>
</body>
</html>