<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View products</title>
</head>
<body>
    <ul>
        <li><a href="/list">All categories</a></li>
        <li th:each="category : ${allCategories}">
            <a th:href="'/list?cat=' + ${category.getId()}"
               th:text="${category}"></a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit price</th>
            <th>Category</th>
            <th>Pictures</th>
        </tr>
        <tr th:each="product: ${products}">
            <td><a th:href="'/product/' + ${product.id}"
                   th:text="${product.name}"></a></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.prices.isEmpty()} ? 'Nada' : 'Something'"></td>
            <td th:text="${product.category}"></td>
            <td><a th:href="'/editProduct/' + ${product.id}">Edit</a></td>
            <td><a th:href="'/delete/' + ${product.id}">Delete</a></td>
            <td th:each="picture : *{product.images}" th:text="${picture.url}"></td>
        </tr>
    </table>
    <a href="/addProduct">Add new product</a>
</body>
</html>