<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'shop')}">
<body>
<style>
    .card-products a {
        color: #5bc0de;
    }

    .card-products a:hover {
        color: #3d94ad;
    }

    .products-row {
        padding: 10px;
    }


</style>
<div class="container">
    <div class="row products-row">
        <div class="col-8 mx-auto">
        <form action="#" th:action="@{search}" method="get" class="input-group">
            <input class="form-control form-control-dark" type="text" placeholder="Search" name="search"
                   aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-info" value="Search">Search</button>
            </div>
        </form>
        </div>
    </div>

    <div class="row products-row text-center">
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-info w-100 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Categories
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/">All Categories</a>
                    <th:block th:each="category : ${allCategories}">
                        <a class="dropdown-item" th:href="'/?cat=' + ${category.getId()}" th:text="${category}"></a>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="col">
            <a href="/admin/product/add" class="btn btn-info w-100">Add Product</a>
        </div>
    </div>

    <div class="row products-row text-center">
        <div class="col">
        <div class="card card-products" style="width: 18rem;" th:each="product: ${products}">
            <img th:src="${product.images[0].url}" class="card-img-top" alt="image">
            <div class="card-body card-body-product-main">
                <h5 class="card-title"><a th:href="'/product/' + ${product.id}"
                                          th:text="${product.name}"></a></h5>
                <p class="card-text" th:text="${product.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    th:text="'Price: ' + (${product.prices.isEmpty()} ? 'Nada' : 'Something') + ' DKK'"></li>
                <li class="list-group-item" th:text="'Category: ' + ${product.category}"></li>
            </ul>
            <div class="card-body card-body-product-links">
                <a th:href="'/admin/product/edit/' + ${product.id}" class="card-link">Edit</a>
                <a th:href="'/admin/product//delete/' + ${product.id}" class="card-link">Delete</a>
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>
