html,
body {
    height: 100%;

}

.middle-align {
    height: 100%;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}

.card-products {
    margin: 25px;
    color: white;

}

.product-name a {
    color: #5bc0de;
}

.product-name a:hover {
    color: #3d94ad;
}

.products-row {
    padding: 10px;
}

.helper{
    max-height: 300px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
}
.customMargin {
    margin: 0.75em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}


